body { 
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 


.container{
    display: flex;
    flex-wrap:wrap;
  }
  .header{
    width: 100%;
    height: 200px;
    background: red;
    z-index:1;
    position:relative;
  }
  
  .blueBall{
    width:20px;
    height:20px;
    border-radius:50%;
    z-index:20;
    background-color:blue;
    position:absolute;
    top:20px;
    left: 20px;
  }
  
  .address{
    width:100%;
  }

  
  @keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);

    }
  
    to {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);

    }
  
    to {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }
  
  .layout{
    display:flex;
    flex-wrap:wrap;
    list-style: none;
    height: 200px;
    margin: 20px;
  }
  
  ul.layout li{
    margin: 5px;
  }
  
  .layout-1{
    background:  url("../images/frontLoft.png") no-repeat;
    height:365px;
    width: 385px;
    position:relative;
    animation: slideInLeft 2s ;
  }
  
  .layout-2{
    background: white url("../images/frontFisrtFloor.png") no-repeat;
    height:365px;
    width: 385px;
    margin: 15px;
    position:relative;
    animation: fadeInAnimation ease 4s; 
  }
  
  .layout-3{
    background: white url("../images/frontbasement.png" )   no-repeat;
    height:365px;
    width: 385px;
    margin: 15px;
    position:relative;
    animation: slideInRight 2s ;
  }
  
  
  .floorplan1{
    position:relative;
  }
  
  .floorplan2{
    position:relative;
  }
  
  .floorplan3{
    position:relative;
  }
  
  .waypoint-loft{
    position:absolute;
    top: 158px;
    left: 176px;
    opacity: .75;
    z-index:100;
  }
  
  .waypoint-deck{
    position:absolute;
    top: 10px;
    left: 34px;
    opacity: .75;
  }
  
  .waypoint-masterBedroom1{
    position:absolute;
    top:5px;
    left: 210px;
    opacity: .75;
  }
  
  .waypoint-masterBedroom2{
    position:absolute;
    top: 8px;
    left: 282px;
    opacity: .75;
  }
  
  .waypoint-masterBath2{
    position:absolute;
    top: 48px;
    left: 317px;
    opacity: .75;
  }
  
  .waypoint-livingRoom{
    position:absolute;
    top: 203px;
    left: 159px;
    opacity: .75;
  }

   .waypoint-livingRoom2{
    position:absolute;
    top: 145px;
    left: 119px;
    opacity: .75;
  }
  
  .waypoint-foyer{
    position:absolute;
    top: 194px;
    left: 282px;
    opacity: .75;
  }
  
 
  .waypoint-front{
    position:absolute;
    top: 259px;
    left: 291px;
    opacity: .75;
  }
  
  
  
  .header_img{
   max-width:1250px;
    width: 100%;
   margin: auto;
    left:50%;
    display: block;
    z-index:1;
  }
  
  .address{
    flex:left;
    position:block;
    padding: 10px;
    background: #efefef;
  }
  
  section.address h1{
    font-weight: 500;
    margin-right: 10px;
  }
  
  div.virtual h1, div.virtual h1 span {
    font-weight: 900;
    margin-right: 10px;
    font-size:5rem;
  }
  
  .blue{
    color: #304468;
  }
  
  section.address h1, section.address h2, section.address p{
    display:inline;
  }



  
  @keyframes waypointHover {
      from { transform : translatey(0) }
      to   { transform : translateY(-10%) }
  }
  
  @keyframes grow {
      from { transform : scale(.9); }
      to   { transform : scale(1); }
  }
  
  [class*="waypoint"]:hover{
    opacity: 1;
    animation: waypointHover 0.5s 1s infinite alternate;
  }
  

  #container_360{
    width: 93.6%;
    height: 512px; 
    z-index:10000;
    display: block;
    margin:20px;
    margin-bottom:250px;
    animation: grow ease 2s; 

  }
  
  canvas{
    border: 5px solid #304468;
  }

  #embedded360 H1{
    display:inline;
  }
  
  #embedded360 H3{
    color: darkblue;
    font-weight: 400;
    display:inline;
  }
  
  img._360{
    display:inline;
    margin-left: 10px;
  }
  
  .a-canvas {
       border-top: 5px #2b853d solid;
  }